# Lesson 3 Class Exercises: Pandas Part 1

With these class exercises we learn a few new things.  When new knowledge is introduced you'll see the icon shown on the right: 
<span style="float:right; margin-left:10px; clear:both;">![Task](../media/new_knowledge.png)</span>

## Reminder
The first checkin-in of the project is due next Tueday.  After today, you should have everything you need to know to accomplish that first part.

## Get Started
Import the Numpy and Pandas packages

In [1]:
import numpy as np
import pandas as pd

## Exercise 1: Import Iris Data
Import the Iris dataset made available to you in the last class period for the Numpy part2 exercises. Save it to a variable naemd `iris`. Print the first 5 rows and the dimensions to ensure it was read in properly.

In [3]:
iris = pd.read_csv('data/iris.csv')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

Notice how much easier this was to import compared to the Numpy `genfromtxt`. We did not have to skip the headers, we did not have to specify the data type and we can have mixed data types in the same matrix.

## Exercise 2: Import Legislators Data
For portions of this notebook we will use a public dataset that contains all of the current legistators of the United States Congress. This dataset can be found [here](https://github.com/unitedstates/congress-legislators).  

Import the data directly from this URL:  https://theunitedstates.io/congress-legislators/legislators-current.csv

Save the data in a variable named `legistators`. Print the first 5 lines, and the dimensions. You can get the dimensions of the dataframe using the `.shape` member variable.

In [10]:
legislators = pd.read_csv('https://theunitedstates.io/congress-legislators/legislators-current.csv')
legislators.head(5)

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
0,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
1,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
2,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
3,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
4,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.

## Exercise 3: Explore the Data
### Task 1
Print the column names of the legistators dataframe and explore the type of data in the data frame.

In [15]:
legislators.columns

Index(['last_name', 'first_name', 'middle_name', 'suffix', 'nickname',
       'full_name', 'birthday', 'gender', 'type', 'state', 'district',
       'senate_class', 'party', 'url', 'address', 'phone', 'contact_form',
       'rss_url', 'twitter', 'twitter_id', 'facebook', 'youtube', 'youtube_id',
       'mastodon', 'bioguide_id', 'thomas_id', 'opensecrets_id', 'lis_id',
       'fec_ids', 'cspan_id', 'govtrack_id', 'votesmart_id', 'ballotpedia_id',
       'washington_post_id', 'icpsr_id', 'wikipedia_id'],
      dtype='object')

### Task 2
Show the data types of all of the columns in the legislator data. To do this, use the `.dtype` member variable. Do all of the data types seem appropriate for the data?

In [24]:
# legislators.dtypes
legislators['district']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
535    0.0
536    3.0
537    3.0
538    0.0
539    NaN
Name: district, Length: 540, dtype: float64

Show all of the data types in the iris dataframe. To do this, use the `.dtype` member variable.

In [22]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

### Task 3
It's always important to know where the missing values are in your data. Are there any missing values in the legislators dataframe? How many per column?  

Hint: we didn't learn how to find missing values in the lesson, but we can use the `isna()` function.

In [34]:
legislators.isna().sum()

last_name               0
first_name              0
middle_name           266
suffix                520
nickname              506
full_name               0
birthday                0
gender                  0
type                    0
state                   0
district              100
senate_class          440
party                   0
url                     4
address                 0
phone                   0
contact_form          441
rss_url               337
twitter                44
twitter_id             44
facebook              235
youtube               325
youtube_id            259
mastodon              525
bioguide_id             0
thomas_id             267
opensecrets_id         80
lis_id                440
fec_ids                 0
cspan_id              224
govtrack_id             0
votesmart_id          124
ballotpedia_id        101
washington_post_id    540
icpsr_id              156
wikipedia_id            3
dtype: int64

How about in the iris dataframe?

In [31]:
iris.sepal_width.isna()

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Name: sepal_width, Length: 150, dtype: bool

### Task 4
It is also important to know if you have any duplicatd rows. If you are performing statistcal analyses and you have duplicated entries they can affect the results.  So, let's find out.  Are there any duplicated rows in the legislators dataframe?  Print then number of duplicates. If there are duplicates print the rows. What function could we used to find out if we have duplicated rows?

In [55]:
legislators[legislators.duplicated(subset=['full_name'],keep=False)]

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
7,Menendez,Robert,NaN,NaN,Bob,Robert Menendez,1954-01-01,M,sen,NJ,...,N00000699,S306,"H2NJ13075,S6NJ00289",29608.0,400272,26961.0,Bob Menendez,NaN,29373.0,Bob Menendez
505,Menendez,Robert,Jacobsen,Jr.,NaN,Robert Menendez,1985-07-12,M,rep,NJ,...,NaN,NaN,H2NJ08232,NaN,456918,NaN,NaN,NaN,NaN,Rob Menendez

Do we have duplicated rows in the iris dataset? Print the number of duplicates? If there are duplicates print the rows.

In [43]:
iris.duplicated().sum()

3

In [48]:
iris[iris.duplicated()]

     sepal_length  sepal_width  petal_length  petal_width    species
34            4.9          3.1           1.5          0.1     setosa
37            4.9          3.1           1.5          0.1     setosa
142           5.8          2.7           5.1          1.9  virginica

If there are duplicated rows should we remove them or keep them?

### Task 5
It is important to also check that the range of values in our data matches expectations.  For example, if we expect to have four species in our iris data, we should check that we see four species. How many political parties should we expect in the legislators data?  If all we saw were a single part perhaps the data is incomplete.... Let's check.   You can find out how many unique values there are per column using the `nunique` function.  Try it for both the legislators and the iris data set.

In [53]:
iris.species.nunique()

3

In [57]:
legislators.party.nunique()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

What do you think?  Do we see what we might expect?  Are there fields where this type of check doesn't matter? In what fields might this type of exploration matter?

Check to see if you have all of the values expected for a given field. Pick a column you know should have a set number of values and print all of the unique values in that column. Do so for both the legislator and iris datasets.

## Exercise 5: Describe the data
For both the legislators and the iris data, get descriptive statistics for each numeric field.

In [ ]:
legislators.describe()

In [ ]:
iris.describe()

## Exercise 6: Row Index Labels
For the legislator dataframe, let's change the row labels from numerical indexes to something more recognizable.  Take a look at the columns of data, is there anything you might want to substitue as a row label?  Pick one and set the index lables. Then print the top 5 rows to see if the index labels are present.

In [59]:
'''
you can index by state, name, etc.
'''

legislators.index = legislators['state']
legislators.head(10)

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
state,,,,,,,,,,,,,,,,,,,,,
OH,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
WA,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
MD,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
DE,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
PA,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.
CA,Feinstein,Dianne,NaN,NaN,NaN,Dianne Feinstein,1933-06-22,F,sen,CA,...,N00007364,S221,S0CA00199,13061.0,300043,53273.0,Dianne Feinstein,NaN,49300.0,Dianne Feinstein
MN,Klobuchar,Amy,Jean,NaN,NaN,Amy Klobuchar,1960-05-25,F,sen,MN,...,N00027500,S311,S6MN00267,83701.0,412242,65092.0,Amy Klobuchar,NaN,40700.0,Amy Klobuchar
NJ,Menendez,Robert,NaN,NaN,Bob,Robert Menendez,1954-01-01,M,sen,NJ,...,N00000699,S306,"H2NJ13075,S6NJ00289",29608.0,400272,26961.0,Bob Menendez,NaN,29373.0,Bob Menendez
VT,Sanders,Bernard,NaN,NaN,Bernie,Bernard Sanders,1941-09-08,M,sen,VT,...,N00000528,S313,"H8VT01016,S4VT00033",994.0,400357,27110.0,Bernie Sanders,NaN,29147.0,Bernie Sanders
MI,Stabenow,Debbie,Ann,NaN,NaN,Debbie Stabenow,1950-04-29,F,sen,MI,...,N00004118,S284,"S8MI00281,H6MI08163",45451.0,300093,515.0,Debbie Stabenow,NaN,29732.0,Debbie Stabenow

## Exercise 7: Indexing & Sampling
Randomly select 15 Republicans or Democrats (your choice) from the senate.

In [82]:
# legislators.index = legislators['type']
# dems = legislators.loc['sen']
# dems.index = dems['party']
# dems.loc['Democrat'].sample(15)

'''
ko:
legislators[(legislators["party"]== "Democrat") & (legislators["type"]== "sen")].sample(15)
'''
legislators[(legislators["party"]== "Democrat") & (legislators["type"]== "sen")].sample(15)

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
type,,,,,,,,,,,,,,,,,,,,,
sen,Blumenthal,Richard,NaN,NaN,NaN,Richard Blumenthal,1946-02-13,M,sen,CT,...,N00031685,S341,S0CT00177,21799.0,412490,1568.0,Richard Blumenthal,NaN,41101.0,Richard Blumenthal
sen,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
sen,Ossoff,Jon,NaN,NaN,NaN,Jon Ossoff,1987-02-16,M,sen,GA,...,N00040675,S414,"H8GA06195,S8GA00180",NaN,456857,176134.0,Jon Ossoff,NaN,NaN,Jon Ossoff
sen,Kaine,Timothy,NaN,NaN,Tim,Tim Kaine,1958-02-26,M,sen,VA,...,N00033177,S362,S2VA00142,49219.0,412582,50772.0,Tim Kaine,NaN,41305.0,Tim Kaine
sen,Coons,Christopher,Andrew,NaN,NaN,Christopher A. Coons,1963-09-09,M,sen,DE,...,N00031820,S337,S0DE00092,9269028.0,412390,122834.0,Chris Coons,NaN,40916.0,Chris Coons
sen,Manchin,Joe,NaN,III,NaN,"Joe Manchin, III",1947-08-24,M,sen,WV,...,N00032838,S338,S0WV00090,62864.0,412391,7547.0,Joe Manchin III,NaN,40915.0,Joe Manchin
sen,Hirono,Mazie,K.,NaN,NaN,Mazie K. Hirono,1947-11-03,F,sen,HI,...,N00028139,S361,"H6HI02251,S2HI00106",91216.0,412200,1677.0,Mazie K. Hirono,NaN,20713.0,Mazie Hirono
sen,Tester,Jon,NaN,NaN,NaN,Jon Tester,1956-08-21,M,sen,MT,...,N00027605,S314,S6MT00162,1020176.0,412244,20928.0,Jon Tester,NaN,40702.0,Jon Tester
sen,Warner,Mark,R.,NaN,NaN,Mark R. Warner,1954-12-15,M,sen,VA,...,N00002097,S327,"S6VA00093,P80003023",7630.0,412321,535.0,Mark Warner,NaN,40909.0,Mark Warner
sen,Klobuchar,Amy,Jean,NaN,NaN,Amy Klobuchar,1960-05-25,F,sen,MN,...,N00027500,S311,S6MN00267,83701.0,412242,65092.0,Amy Klobuchar,NaN,40700.0,Amy Klobuchar
sen,Duckworth,Tammy,NaN,NaN,NaN,Tammy Duckworth,1968-03-12,F,sen,IL,...,N00027860,S386,"H6IL06141,S6IL00292",94484.0,412533,57442.0,Tammy Duckworth,NaN,21325.0,Tammy Duckworth
sen,Markey,Edward,J.,NaN,Ed,Edward J. Markey,1946-07-11,M,sen,MA,...,N00000270,S369,"H6MA07101,S4MA00028",260.0,400253,26900.0,Ed Markey,NaN,14435.0,Ed Markey
sen,Fetterman,John,Karl,NaN,NaN,John Fetterman,1969-08-15,M,sen,PA,...,NaN,S418,S6PA00274,NaN,456877,166286.0,John Fetterman,NaN,NaN,John Fetterman
sen,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
sen,Luján,Ben,Ray,NaN,NaN,Ben Ray Luján,1972-06-07,M,sen,NM,...,N00029562,S409,"H8NM03196,S0NM00058",1031351.0,412293,102842.0,Ben Ray Luján,NaN,20932.0,Ben Ray Luján

## Exercise 8: Dates
<span style="float:right; margin-left:10px; clear:both;">![Task](../media/new_knowledge.png)</span>
Let's learn something not covered in the Pandas 1 lesson regarding dates.  We have the birthdates for each legislator, but they are in a String format.  Let's convert it to a datetime object. We can do this using the `pd.to_datetime` function.  Take a look at the online documentation to see how to use this function. Convert the `legislators['birthday']` column to a `datetime` object. Confirm that the column is now a datetime object.

In [83]:
legislators['birthday'].head()

type
sen    1952-11-09
sen    1958-10-13
sen    1943-10-05
sen    1947-01-23
sen    1960-04-13
Name: birthday, dtype: object

In [91]:
# pd.to_datetime(legislators['birthday'].head())
legislators['birthday'] = pd.to_datetime(legislators['birthday'])

Now that we have the birthdays in a `datetime` object, how can we calculate their age?  Hint: we can use the `pd.Timestamp.now()` function to get a datetime object for this moment. Let's subtract the current time from their birthdays.  Print the top 5 results.

In [100]:
pd.Timestamp.now() - legislators['birthday']
timed = pd.Timestamp.now() - legislators['birthday']
print(timed)
#and we get a timedelta

type
sen   25673 days 11:34:26.443004
sen   23509 days 11:34:26.443004
sen   28996 days 11:34:26.443004
sen   27790 days 11:34:26.443004
sen   22961 days 11:34:26.443004
                 ...
rep   20018 days 11:34:26.443004
rep   12680 days 11:34:26.443004
rep   19519 days 11:34:26.443004
rep   22043 days 11:34:26.443004
sen   21372 days 11:34:26.443004
Name: birthday, Length: 540, dtype: timedelta64[ns]

Notice that the result of subtracting two `datetime` objects is a `timedelta` object. It contains the difference between two time values. The value we calculated therefore gives us the number of days old.  However, we want the number of years. 

To get the number of years we can divide the number of days old by the number of days in a year (i.e. 365). However, we need to extract out the days from the `datetime` object. To get this, the Pandas Series object has an accessor for extracting components of `datetime` objects and `timedelta` objects. It's named `dt` and it works for both.  You can learn more about the attributes of this accessor at the [datetime objects page](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#datetime-properties) and the [timedelta objects page](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#timedelta-properties) by clicking.  Take a moment to look over that documentation.

How would then extract the days in order to divide by 365 to get the years?  Once you've figurd it out. Do so, convert the years to an integer and add the resulting series back into the legislator dataframe as a new column named `age`.  Hint: use the [astype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.astype.html) function of Pandas to convert the type.

In [112]:
years = timed.dt.days/365
(timed.dt.days/365).astype('int').head(10)
legislators['years'] = years.astype('int32')
legislators['years']

type
sen    70
sen    64
sen    79
sen    76
sen    62
       ..
rep    54
rep    34
rep    53
rep    60
sen    58
Name: years, Length: 540, dtype: int32

Next, find the youngest, oldest and average age of all legislators

In [118]:
legislators.years.describe()

count    540.000000
mean      58.361111
std       12.340905
min       26.000000
25%       49.000000
50%       59.000000
75%       68.000000
max       89.000000
Name: years, dtype: float64

Who are the oldest and youngest legislators?

In [126]:
# legislators.years.min()
# legislators[legislators['years'] == legislators['years'].min()] |

legislators[(legislators['years'] == legislators['years'].min()) | \
            (legislators['years'] == legislators['years'].max())]

#doesn't work :(     
# legislators[(legislators.years == legislators.years.min()) | \
#             (legislators.years == legislators.years..max())]

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id,years
type,,,,,,,,,,,,,,,,,,,,,
sen,Feinstein,Dianne,NaN,NaN,NaN,Dianne Feinstein,1933-06-22,F,sen,CA,...,S221,S0CA00199,13061.0,300043,53273.0,Dianne Feinstein,NaN,49300.0,Dianne Feinstein,89
sen,Grassley,Charles,E.,NaN,Chuck,Chuck Grassley,1933-09-17,M,sen,IA,...,S153,S0IA00028,1167.0,300048,53293.0,Chuck Grassley,NaN,14226.0,Chuck Grassley,89
rep,Frost,Maxwell,Alejandro,NaN,NaN,Maxwell Frost,1997-01-17,M,rep,FL,...,NaN,H2FL10259,NaN,456890,NaN,NaN,NaN,NaN,Maxwell Frost,26

## Exercise 9:  Indexing with loc and iloc
Reindex the legislators dataframe using the state, and find all legislators from a state of your choice using the `loc` accessor.

In [127]:
# legislators.index = legislators['type']
# dems = legislators.loc['sen']
# dems.index = dems['party']
# dems.loc['Democrat'].sample(15)

legislators.index = legislators['state']
legislators.loc['WA']

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id,years
state,,,,,,,,,,,,,,,,,,,,,
WA,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell,64
WA,Larsen,Rick,NaN,NaN,NaN,Rick Larsen,1965-06-15,M,rep,WA,...,NaN,H0WA02080,86610.0,400232,56231.0,Rick Larsen,NaN,20145.0,Rick Larsen,57
WA,McMorris Rodgers,Cathy,Anne,NaN,NaN,Cathy McMorris Rodgers,1969-05-22,F,rep,WA,...,NaN,H4WA05077,1013063.0,400659,3217.0,Cathy McMorris Rodgers,NaN,20535.0,Cathy McMorris Rodgers,53
WA,Murray,Patty,NaN,NaN,NaN,Patty Murray,1950-10-11,F,sen,WA,...,S229,S2WA00189,25277.0,300076,53358.0,Patty Murray,NaN,49308.0,Patty Murray,72
WA,Smith,Adam,NaN,NaN,NaN,Adam Smith,1965-06-15,M,rep,WA,...,NaN,H6WA09025,44329.0,400379,845.0,Adam Smith,NaN,29768.0,Adam Smith (Washington politician),57
WA,DelBene,Suzan,K.,NaN,NaN,Suzan K. DelBene,1962-02-17,F,rep,WA,...,NaN,H0WA08046,1033929.0,412505,126272.0,Suzan DelBene,NaN,31101.0,Suzan DelBene,61
WA,Kilmer,Derek,NaN,NaN,NaN,Derek Kilmer,1974-01-01,M,rep,WA,...,NaN,H2WA06129,68310.0,412583,51516.0,Derek Kilmer,NaN,21368.0,Derek Kilmer,49
WA,Newhouse,Dan,NaN,NaN,NaN,Dan Newhouse,1955-07-10,M,rep,WA,...,NaN,H4WA04104,78315.0,412660,51522.0,Dan Newhouse,NaN,21556.0,Dan Newhouse,67
WA,Jayapal,Pramila,NaN,NaN,NaN,Pramila Jayapal,1965-09-21,F,rep,WA,...,NaN,H6WA07458,9267128.0,412730,153141.0,Pramila Jayapal,NaN,21726.0,Pramila Jayapal,57
WA,Schrier,Kim,NaN,NaN,NaN,Kim Schrier,1968-08-23,F,rep,WA,...,NaN,H8WA08189,NaN,412835,181124.0,Kim Schrier,NaN,21962.0,Kim Schrier,54
WA,Strickland,Marilyn,NaN,NaN,NaN,Marilyn Strickland,1962-09-25,F,rep,WA,...,NaN,H0WA10034,NaN,456854,NaN,NaN,NaN,NaN,Marilyn Strickland,60
WA,Gluesenkamp Perez,Marie,NaN,NaN,NaN,Marie Gluesenkamp Perez,1988-06-06,F,rep,WA,...,NaN,H2WA03217,NaN,456949,NaN,Marie Gluesenkamp Perez,NaN,NaN,Marie Gluesenkamp Perez,34

Use the loc command to find all legislators from South Carolina and North Carolina

In [133]:
# legislators.loc[['SC', 'NC']]
legislators.loc[['SC', 'NC']]

#double brackets tell you the list of the values

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id,years
state,,,,,,,,,,,,,,,,,,,,,
SC,Graham,Lindsey,O.,NaN,NaN,Lindsey Graham,1955-07-09,M,sen,SC,...,S293,"S0SC00149,H4SC03087",36782.0,300047,21992.0,Lindsey Graham,NaN,29566.0,Lindsey Graham,67
SC,Clyburn,James,E.,NaN,Jim,James E. Clyburn,1940-07-21,M,rep,SC,...,NaN,H2SC02042,21607.0,400075,27066.0,James E. Clyburn,NaN,39301.0,Jim Clyburn,82
SC,Duncan,Jeff,NaN,NaN,NaN,Jeff Duncan,1966-01-07,M,rep,SC,...,NaN,H0SC03077,62713.0,412472,47967.0,Jeff Duncan,NaN,21174.0,Jeff Duncan (politician),57
SC,Scott,Tim,NaN,NaN,NaN,Tim Scott,1965-09-19,M,sen,SC,...,S365,"H0SC01279,S4SC00240",623506.0,412471,11940.0,Tim Scott,NaN,21173.0,Tim Scott,57
SC,Wilson,Joe,G.,NaN,NaN,Joe Wilson,1947-07-31,M,rep,SC,...,NaN,H2SC02059,1002567.0,400433,3985.0,Joe Wilson,NaN,20138.0,Joe Wilson (American politician),75
SC,Norman,Ralph,NaN,NaN,NaN,Ralph Norman,1953-06-20,M,rep,SC,...,NaN,H8SC05158,61996.0,412738,47930.0,Ralph Norman,NaN,21753.0,Ralph Norman,69
SC,Timmons,William,R.,NaN,NaN,William R. Timmons IV,1984-04-30,M,rep,SC,...,NaN,H8SC04250,NaN,412815,168923.0,William Timmons,NaN,21974.0,William Timmons,38
SC,Mace,Nancy,Ruth,NaN,NaN,Nancy Mace,1977-12-04,F,rep,SC,...,NaN,H0SC01394,NaN,456843,NaN,Nancy Mace,NaN,NaN,Nancy Mace,45
SC,Fry,Russell,William,NaN,NaN,Russell Fry,1985-01-31,M,rep,SC,...,NaN,H2SC07280,NaN,456938,NaN,NaN,NaN,NaN,Russell Fry (politician),38
NC,Foxx,Virginia,NaN,NaN,NaN,Virginia Foxx,1943-06-29,F,rep,NC,...,NaN,H4NC05146,1013052.0,400643,6051.0,Virginia Foxx,NaN,20521.0,Virginia Foxx,79
NC,McHenry,Patrick,T.,NaN,NaN,Patrick T. McHenry,1975-10-22,M,rep,NC,...,NaN,H4NC10047,1007062.0,400644,21031.0,Patrick T. McHenry,NaN,20522.0,Patrick McHenry,47
NC,Hudson,Richard,NaN,NaN,NaN,Richard Hudson,1971-11-04,M,rep,NC,...,NaN,H2NC08185,79622.0,412550,136448.0,Richard Hudson,NaN,21346.0,Richard Hudson (American politician),51
NC,Adams,Alma,S.,NaN,NaN,Alma S. Adams,1946-05-27,F,rep,NC,...,NaN,H4NC12100,76386.0,412607,5935.0,Alma Adams,NaN,21545.0,Alma Adams,76
NC,Rouzer,David,NaN,NaN,NaN,David Rouzer,1972-02-16,M,rep,NC,...,NaN,H2NC07096,79710.0,412641,102964.0,David Rouzer,NaN,21544.0,David Rouzer,51
NC,Tillis,Thom,NaN,NaN,NaN,Thom Tillis,1960-08-30,M,sen,NC,...,S384,S4NC00162,77055.0,412668,57717.0,Thom Tillis (North Carolina),NaN,41504.0,Thom Tillis,62
NC,Budd,Ted,NaN,NaN,NaN,Ted Budd,1971-10-21,M,sen,NC,...,S417,H6NC13129,103513.0,412712,171489.0,Ted Budd,NaN,21708.0,Ted Budd,51
NC,Bishop,Dan,NaN,NaN,NaN,Dan Bishop,1964-07-01,M,rep,NC,...,NaN,H0NC09187,NaN,412844,92423.0,Dan Bishop,NaN,21986.0,Dan Bishop,58
NC,Murphy,Gregory,Francis,NaN,NaN,Gregory F. Murphy,1963-03-05,M,rep,NC,...,NaN,H0NC03172,NaN,412845,166135.0,Gregory Murphy,NaN,21987.0,Greg Murphy (politician),60
NC,Ross,Deborah,Koff,NaN,NaN,Deborah K. Ross,1963-06-20,F,rep,NC,...,NaN,H0NC02125,NaN,456831,NaN,Deborah Ross,NaN,NaN,Deborah K. Ross,59
NC,Manning,Kathy,Ellen,NaN,NaN,Kathy E. Manning,1956-12-03,F,rep,NC,...,NaN,H8NC13067,NaN,456832,NaN,NaN,NaN,NaN,Kathy Manning,66
NC,Davis,Donald,Gene,NaN,NaN,Donald G. Davis,1971-08-29,M,rep,NC,...,NaN,H2NC02287,NaN,456912,NaN,NaN,NaN,NaN,Donald G. Davis,51
NC,Foushee,Valerie,Jean,NaN,NaN,Valerie P. Foushee,1956-05-07,F,rep,NC,...,NaN,H2NC06114,NaN,456913,NaN,NaN,NaN,NaN,Valerie Foushee,66
NC,Edwards,Charles (Chuck),Marion,NaN,NaN,Chuck Edwards,1960-09-13,M,rep,NC,...,NaN,H2NC14050,NaN,456914,NaN,NaN,NaN,NaN,Chuck Edwards,62
NC,Nickel,George,Wiley (uses as 1st),III,NaN,Wiley Nickel,1975-11-23,M,rep,NC,...,NaN,H2NC14019,NaN,456915,NaN,NaN,NaN,NaN,Wiley Nickel,47
NC,Jackson,Jeffrey,Neale,NaN,NaN,Jeff Jackson,1982-09-12,M,rep,NC,...,NaN,H2NC14076,NaN,456916,NaN,NaN,NaN,NaN,Jeff Jackson (politician),40

Use the loc command to retrieve all legislators from California, Oregon and Washington and only get their full name, state, party and age

In [142]:
legislators.loc[['CA', 'OR', 'WA']][['full_name', 'state', 'party', 'years']]

                     full_name state       party  years
state
CA            Dianne Feinstein    CA    Democrat     89
CA                 Ken Calvert    CA  Republican     69
CA                    Judy Chu    CA    Democrat     69
CA                   Jim Costa    CA    Democrat     70
CA               Anna G. Eshoo    CA    Democrat     80
...                        ...   ...         ...    ...
WA                Dan Newhouse    WA  Republican     67
WA             Pramila Jayapal    WA    Democrat     57
WA                 Kim Schrier    WA    Democrat     54
WA          Marilyn Strickland    WA    Democrat     60
WA     Marie Gluesenkamp Perez    WA    Democrat     34

[74 rows x 4 columns]

In [143]:
legislators.loc[['CA', 'OR', 'WA'],\
['full_name', 'state', 'party', 'years']]

                     full_name state       party  years
state
CA            Dianne Feinstein    CA    Democrat     89
CA                 Ken Calvert    CA  Republican     69
CA                    Judy Chu    CA    Democrat     69
CA                   Jim Costa    CA    Democrat     70
CA               Anna G. Eshoo    CA    Democrat     80
...                        ...   ...         ...    ...
WA                Dan Newhouse    WA  Republican     67
WA             Pramila Jayapal    WA    Democrat     57
WA                 Kim Schrier    WA    Democrat     54
WA          Marilyn Strickland    WA    Democrat     60
WA     Marie Gluesenkamp Perez    WA    Democrat     34

[74 rows x 4 columns]

## Exercise 10: Economics Data Example
### Task 1: Explore the data
Import the data from the [Lectures in Quantiatives Economics](https://github.com/QuantEcon/lecture-source-py) regarding minimum wages in countries round the world in US Dollars.  You can view the data [here](https://github.com/QuantEcon/lecture-source-py/blob/master/source/_static/lecture_specific/pandas_panel/realwage.csv) and you can access the data file here: https://raw.githubusercontent.com/QuantEcon/lecture-source-py/master/source/_static/lecture_specific/pandas_panel/realwage.csv.  Then perform the following

Import and print the first 5 lines of data to explore what is there.

Find the shape of the data.

List the column names.

Identify the data types. Do they match what you would expect?

Identify columns with missing values.

Identify if there are duplicated entires.

How many unique values per row are there.  Do these look reasonable for the data type and what you know about what is stored in the column?

### Task 2: Explore More
Retrieve descriptive statistics for the data.

Identify all of the countries listed in the data.

Convert the time column to a datetime object.

Identify the time points that were used for data collection. How many years of data collection were there? What time of year were the data collected?

Because we only have one data point collected per year per country, simplify this by creating a new `Series` with just the year.  Print the first 5 rows to confirm the column was added.

There are two pay periods.  Retrieve them in a list of just the two strings

### Task 3: Clean the data
We have no duplicates in this data so we do not need to consider removing those, but we do have missing values in the `value` column. Lets remove those.  Check the dimensions afterwards to make sure they rows with missing values are gone.

### Task 4:  Indexing
Use boolean indexing to retrieve the rows of annual salary in United States

Do we have enough data to calculate descriptive statistics for annual salary in the United States in 2016?

Use loc to calculate descriptive statistics for the hourly salary in the United States and then again separately for Ireland. Hint: you will have to set row indexes.

Now do the same for Annual salary